#directories created by mysql
mysql-autoload/media.dump.sql
mysql-datadir
mysql-shr
mysql-conf.d
mysql-datadir
mysql_media-autoload/**
mysql_media-datadir/**

# logs 
srv/log/server*

#
srv/media/[0-9]*
srv/media/[a-f]*

#
srv/deployments/mediaserver.ear.deployed
srv/releases/media.dump.sql

# remains
*~

# Package Files #
*.war
*.ear
