#directories created by mysql
mysql-autoload/media.dump.sql
mysql-datadir
mysql-shr
mysql-conf.d
mysql-datadir
mysql_media-autoload/**
mysql_media-datadir/**

# artifact
srv/**

*~
*.class
[0-9]*

# Package Files #
*.war
*.ear
