# logs 
srv/log/server*
*.log

#
srv/media/[0-9]*
srv/media/[a-f]*

#
srv/deployments/mediaserver.ear.deployed
srv/releases/media.dump.sql
srv/deployments/mysql-connector*

# db
db/mysql_media-datadir/*.pid
db/mysql_media-datadir/ib*


# remains
*~

# Package Files #
*.war
*.ear
